.banner {
    padding: 7.45rem 0;
    position: relative;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 281px;
    z-index: 1;
    opacity: 0.25;
    background-position: center;
    background-size: cover;
}

.banner__titulo {
    font-size: var(--tamanho-secundario);
    font-family: var(--fonte-secundaria);
    line-height: 2.6rem;
    text-align: center;
    z-index: 2;
    padding: 0 1.5rem;
}

.banner--home {
    background-image: url(../img/boreal-homepage.png);
    background-position: center;
    background-size: cover;
}

.banner--experiencia::before {
    background-image: url(../img/banner-experiencia.png);
}

.banner--setores::before {
    background-image: url(../img/banner-setores.png);
}

.banner--informacoes::before {
    background-image: url(../img/banner-informacoes.png);
}

.banner--ingressos::before {
    background-image: url(../img/banner-compra-ingresso.png);
}

.banner--compra::before {
    background-image: url(../img/banner-compra-finalizada.png);
    height: 324px;
}

@media screen and (min-width: 768px) {
    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 384px;
        padding: 0;
    }

    .banner__titulo {
        font-size: 4rem;
        line-height: 5.2rem;
    }

    .banner::before {
        height: 384px;
        background-position: bottom;
    }
}

@media screen and (min-width: 1440px) {
    .banner, .banner::before {
        height: 407px;
        background-position: center;
    }
}