.banner {
    background-image: url(../img/aurora.jpg);
    background-repeat: no-repeat;
    text-align: center;
    padding: 93px 0;
}

.banner__titulo {
    font-family: var(--fonte-secundaria);
    font-size: var(--tamanho-secundario);
    line-height: 2.6rem;
    font-weight: 400;
}