.datas {
    text-align: center;
    padding: 2rem 1.5rem;
}

.datas__imagem--tablet {
    display: none;
}

.datas__imagem {
    width: 86.66vw;
}

.datas__titulo {
    font-size: var(--tamanho-secundario);
    font-weight: 700;
    line-height: 2.375rem;
    margin: 1.5rem 0 2rem 0;
    text-align: center;
}

.datas__botao {
    margin: 2rem auto 0 auto;
    background-image: url(../img/local_activity.svg);
    background-repeat: no-repeat;
    background-position: top 50% right 1.75rem;
    background-color: var(--background-header);
    border-radius: 16px;
    display: block;
    box-shadow: 4px 4px 0px #444444;
    padding: 0.5rem 2.75rem;
    width: 224px;
    text-align: start;
}

@media screen and (max-width: 360px) {
    .datas__botao{
    width: 55vw;
    }
}

@media screen and (min-width: 768px) {
    .datas {
        padding: 2rem 3.75rem;
    }

    .datas__imagem--tablet {
        display: block;
        margin: auto;
        padding-bottom: 1rem;
    }
    
    .datas__imagem {
        display: none;
    }

    .setores__imagem {
        display: block;
        width: 49.73vw;
        margin: auto;
    }

    .datas__texto {
        padding-bottom: 1.5rem;
    }

    .datas__botao {
        margin: 0 auto 2rem auto;
    }
}

@media screen and (min-width: 1440px) {
    .datas {
        display: flex;
        padding: 4rem 7.5rem;
        gap: 3rem;
    }

    .exp__conteudo:nth-child(odd) {
        flex-direction: row-reverse;
    }
    
    .exp__conteudo:nth-child(odd)>.datas__conteudo>.datas__titulo, .exp__conteudo:nth-child(odd)>.datas__conteudo>.datas__texto {
        text-align: right;
    }

    .datas__conteudo>.datas__titulo, .datas__conteudo>.datas__texto {
        text-align: left;
    }

    .setores__conteudo {
        display: flex;
        padding: 3rem 7.5rem;
        justify-content: center;
        gap: 1.5rem;
    }

    .setores .datas__titulo {
        margin-top: 3rem;
        text-align: center;
        font-size: 3rem;
    }

    .setores__item {
        display: block;
        padding: 0;
        width: 24rem;
    }

    .setores__imagem {
        width: 384px;
    }

    .setores__item:nth-child(even) {
        padding-top: 9%;
    }
}