.secao-formulario {
    padding: 2rem 1.5rem;
    color: var(--cinza-texto);
}

.secao-formulario__titulo {
    font-family: var(--fonte-secundaria);
    font-size: var(--tamanho-secundario);
    line-height: 2.6rem;
    text-align: center;
    margin-bottom: 3rem;
}

.formulario {   
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.formulario__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.formulario__texto {
    font-weight: 700;
    font-size: var(--tamanho-secundario);
    line-height: 2.35rem;
}

#nome {
    height: 3rem;
}

#email, #tipo-ingresso, #data {
    height: 4rem;
}

.formulario__botao {
    align-self: center;
    text-align: start;
    width: 10.25rem;
    height: 4rem;
    padding: 0.5rem 1.5rem;
    color: var(--branco-texto);
    border-radius: 16px;
    box-shadow: 4px 4px 0px #000000;
    font-weight: 700;
    background: var(--background-header) url(../img/setinha.svg) no-repeat;
    background-position: top 50% right 1rem;
}

@media screen and (min-width: 768px) {
    .secao-formulario {
        color: var(--branco-texto);
        padding: 3rem 3.75rem;
    }

    .secao-formulario__titulo {
        font-size: 3rem;
    }

    .formulario__container input, .formulario__container select {
        color: #7A7A7A;
        padding: 0 2rem;
    }

    #data {
        width: 26rem;
    }
}

@media screen and (min-width: 1440px) {
    .formulario {
        width: 55.21vw;
        margin: auto;
        display: grid;
        grid: repeat(3, auto) / repeat(2, 50%);
    }

    .formulario__container:nth-child(1), .formulario__container:nth-child(2), .formulario__botao {
        grid-column: 1/3;
    }

    #data {
        width: auto;
    }

    .formulario__botao {
        justify-self: center;
    }
}