.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 24px;
    background: var(--background-header);
    position: relative;
}

.menu__lista, .cabecalho__botao {
    display: none;
}

.cabecalho__botao:checked ~ .menu__lista {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--background-header);
    padding: 1rem;
}

.menu__lista__item:last-child {
    border: none;
}

.menu__lista__item {
    text-align: center;
    padding: 0.5rem;
    line-height: 2.5rem;
    font-weight: 700;
    border-bottom: 1px solid var(--branco-texto);
}

@media screen and (max-width: 360px) {
    .cabecalho__imagem {
    width: 65vw;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho {
        flex-direction: column;
        gap: 1.25rem;
    }

    .cabecalho__menu {
        display: none;
    }

    .menu__lista {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .menu__lista__item {
        border: none;
    }
}

@media screen and (min-width: 1440px) {
    .cabecalho {
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 7.5rem;
    }
}